{% extends "layout/layout.html" %}
{% block title %}Home{% endblock %}
{% block navhome %}Home{% endblock %}
{% block content %}
	{% for post in posts %}
		<article class="post">
			<header class="post-header">
				<h2 class="post-title">
					<a href="{{ url_for('post', name=post.path.replace('posts/', '')) }}">
						{{ post.title }}
					</a>
				</h2>
			</header>
			<section class="post-excerpt">
				<p>{{ post.preview }} <i><a class="read-more" href="{{ url_for('post', name=post.path.replace('posts/', '')) }}">Read more &raquo;</a></i></p>
			</section>
			<footer class="post-meta">
				<img class="author-thumb" src="{{ post.gravatar | gravatar }}" alt="This is the author's Gravatar.">
				<a href="{{ post.url }}">{{ post.author }}</a>
				<time class="post-date" datetime="{{ post.date }}">{{ post.date }}</time>
			</footer>
		</article>
	{% endfor %}
{% endblock %}
