{% extends "layout.html" %}
{% block title %}{{ post.title }}{% endblock %}
{% block navhome %}↢ Return to Home{% endblock %}
{% block content %}
	<article class="post" itemscope itemtype="https://schema.org/NewsArticle">
		<header class="post-header">
			<h1 class="post-title" itemprop="headline">{{ post.title }}</h1>
			<section class="post-meta">
				<img class="author-thumb" src="{{ post.gravatar | gravatar }}" alt="This is the author's Gravatar.">
				<a href="{{ post.url }}" itemprop="author">{{ post.author }}</a>
				<time class="post-date" datetime="{{ post.microdate }}" itemprop="datePublished" content="{{ post.microdate }}">{{ post.date }}</time>
			</section>
		</header>
		<br>
		<section class="post-content" itemprop="articleBody">
			{{ post.html | safe }}
		</section>
		<footer class="post-footer">
			<figure class="author-image">
				<a class="img" href="#" style="background-image: url({{ post.gravatar | gravatar }}">
					<span class="hidden">
						This is the author's profile picture.
					</span>
				</a>
			</figure>
			<section class="author">
				<h4><a href="{{ post.url }}">{{ post.author }}</a></h4>
				<p>{{ post.bio }}</p>
				<div class="author-meta">
					<span class="author-location icon-location">
						{% if post.location is defined %}
							{{ post.location }}
						{% else %}
							The Middle of Nowhere
						{% endif %}
					</span>
					<span class="author-link icon-link">
						{% if post.url is defined %}
							<a href="{{ post.url }}">{{ post.url }}</a>
						{% else %}
							<a href="https://example.org">https://example.org</a>
						{% endif %}
					</span>
				</div>
			</section>
		</footer>
	</article>
{% endblock %}